body {
  background-image: url('./img/background.jpg');
  background-repeat: repeat;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 3%;
	padding-bottom: 3%;
}

#choose {
	display: flex;
	justify-content: center;
}

/* ------------------------------ HOME -------------------------- */
#home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3% 10%;
	background-color: blanchedalmond;
}

h2 {
	font-size: 40px;
}

.big-text {
	font-size: 20px;
	margin-bottom: 35px;
}

.pizza-size-image {
	width: 90%;
}

/* ------------------------------ MENU -------------------------- */

#menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	padding: 3% 25%;
	background-color: blanchedalmond;
	width: 20%;
}

.menu-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
}

img {
	padding: 15px;
	width: 30vw;
	height: auto;
}

/* .menu-item-image {
	
} */

/* -------------------------- CONTACT INFORMATION --------------------------- */
#contact-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3% 10%;
	background-color: blanchedalmond;
}

.contact-text {
	font-size: 25px;
}
